# always put this repo under HOME
export DOTFILES=~/dotfiles

# add RVM to PATH for scripting
export PATH=$PATH:$HOME/.rvm/bin

# hadoop
export HADOOP_INSTALL=~/hadoop-1.1.1
export PATH=$PATH:$HADOOP_INSTALL/bin:$HADOOP_INSTALL/sbin

# scala
export SCALA_HOME=~/scala-2.10.4
alias scala=$SCALA_HOME/bin/scala

# fcitx input method
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

# amazon aws
export EC2_HOME=~/amazon/ec2-api-tools-1.6.8.1/

# GOPATH
export GOPATH=~/projects/go/
export GOROOT=/usr/lib/go/
export PATH=$PATH:$GOPATH/bin
